<mat-card>
  <mat-card-title>
    Clients
  </mat-card-title>
  <mat-card-content>
    <section>

      <mat-form-field class="form-field" style="width: 400px; padding-right: 20px;" >
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field class="form-field" style="width: 100px; padding-right: 20px" >
        <input matInput placeholder="Age" [(ngModel)]="age">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Favorite Food" [(ngModel)]="food">
          <mat-option *ngFor="let foodOption of foods" [value]="foodOption">
            {{foodOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-icon-button color="primary" (click)="save()" >
        <mat-icon>check</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)="generateRandomNumber()" >
        <mat-icon>refresh</mat-icon>
      </button>


    </section>


    <section>
      <mat-list>
        <mat-list-item *ngFor="let c of clients; let i=index">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>
            <app-lifecycle-child
              [name]="c.name"
              [age]="c.age"
              [food]="c.food" #child>
              ({{randomNumber}})
            </app-lifecycle-child>
          </p>
          <p mat-line>
            <mat-chip-list>
              <mat-chip *ngFor="let event of child.events" [color]="event.color" selected>
                {{event.name}}
              </mat-chip>
            </mat-chip-list>
          </p>
          <button mat-icon-button color="warn" (click)="remove(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="edit(i)">
            <mat-icon>edit</mat-icon>
          </button>

        </mat-list-item>
      </mat-list>
    </section>


  </mat-card-content>
</mat-card>
